{% extends '@App/Layouts/layout-body.html.twig' %}

{% block content %}
    <h1>Dsd creation</h1>

    {{ form_start(form) }}
    <div class="row">
        {% include '@App/SDS/form.html.twig' with {
            'form': form
        } %}
    </div>
    {% if form_errors(form) %}
        <div class="alert alert-info" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">Create</button>
    <a href="{{ path('dsd_index') }}" class="btn btn-default">Back to the list</a>
    {{ form_end(form) }}

{% endblock content %}
