{% extends '@App/Layouts/layout-body.html.twig' %}

{% block content %}
    <h1>Dsd creation</h1>

    {{ form_start(form) }}
    <div class="row">
        {% for item in form.children %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{ item.vars.label }}</label>
                    {{ form_errors(item) }}
                    <div class="form-line focus-select">
                        {{ form_widget(item,{'attr' : {'class' : 'form-control' } }) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('dsd_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
    </ul>
{% endblock content %}
