{% extends '@App/Layouts/layout-body.html.twig' %}

{% block content %}
    <h1>Dsd edit</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        {% include '@App/SDS/form.html.twig' with {
            'form': edit_form
        } %}
    </div>
    {{ form_rest(edit_form) }}
    <button type="submit" class="btn btn-primary">Edit</button>
    <a href="{{ path('dsd_index') }}" class="btn btn-default">Back to the list</a>
    {{ form_end(edit_form) }}

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/app/js/dsd-form-edit.js') }}"></script>
{% endblock javascripts %}
