{% extends '@App/Layouts/layout-body.html.twig' %}

{% block content %}
    <h1>Dsd edit</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        {% for item in edit_form.children %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{ item.vars.label }}</label>
                    {{ form_errors(item) }}
                    <div class="form-line focus-select">
                        {{ form_widget(item,{'attr' : {'class' : 'form-control' } }) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_rest(edit_form) }}
    <button type="submit" class="btn btn-primary">Edit</button>
    <a href="{{ path('dsd_index') }}" class="btn btn-default">Back to the list</a>
    {{ form_end(edit_form) }}

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/libs/js/form-dsd-edit.js') }}"></script>
{% endblock javascripts %}
