{% extends '@App/Layouts/layout-body.html.twig' %}

{% block content %}
    <h1>Dsds list</h1>

    <table class="table table-striped">
        <thead class="color-bleu">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Manufacturer</th>
            <th>Itemsds</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dSD in dSDs %}
            <tr>
                <td>{{ dSD.id }}</td>
                <td>{{ dSD.title }}</td>
                <td>{{ dSD.manufacturer }}</td>
                <td>{{ dSD.itemSds }}</td>
                <td>
                    <a href="{{ path('dsd_edit', { 'id': dSD.id }) }}">
                        <i class="icon-edit icon-2x"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('dsd_delete', { 'id': dSD.id }) }}">
                        <i class="icon-trash icon-2x"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(dSDs) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('dsd_new') }}">Create a new DSD</a>
        </li>
    </ul>
{% endblock content %}