{% extends '@App/Layouts/layout-body.html.twig' %}

{% block content %}
    <h1>Dsds list</h1>

    <table class="table table-striped">
        <thead class="color-bleu">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Manufacturer</th>
            <th>Itemsds</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dSD in dSDs %}
            <tr>
                <td>{{ dSD.id }}</td>
                <td>{{ dSD.title }}</td>
                <td>{{ dSD.manufacturer }}</td>
                <td>{{ dSD.itemSds }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dsd_edit', { 'id': dSD.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dsd_new') }}">Create a new DSD</a>
        </li>
    </ul>
{% endblock content %}