{% extends '@App/Layouts/layout-body.html.twig' %}

{% block content %}
    <h1>SDS Binder</h1>
    <a href="{{ path('dsd_new') }}" class="pull-right">Create a new DSD</a>

    <table class="table table-striped">
        <thead class="color-bleu">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Manufacturer</th>
            <th>Itemsds</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dSD in dSDs %}
            <tr>
                <td>{{ dSD.id }}</td>
                <td>{{ dSD.title }}</td>
                <td>{{ dSD.manufacturer }}</td>
                <td>{{ dSD.itemSds }}</td>
                <td>
                    <a class="btn btn-default" href="{{ vich_uploader_asset(dSD, 'file') }}" download="{{ dSD.fileName }}">
                        <i class="icon-cloud-download"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" href="{{ path('dsd_edit', { 'id': dSD.id }) }}">
                        <i class="icon-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-default btn-dsd-delete"  data-path="{{ path('dsd_delete', { 'id': dSD.id }) }}">
                        <i class="icon-remove"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation pull-right">
        {{ knp_pagination_render(dSDs) }}
    </div>

{% endblock content %}